<app-container>
    <section class="conteudo-home">
        <div class="img-home">
            <img src="../assets/img/banner-home.png" alt="parede com uma interrogação no meio" class="img-img">
        </div>
        <div class="form-sala">
            <h2><b>SILENT</b></h2>
            <h2><b>P O L L</b></h2>
            <div class="entrar">
                <label><b>Acessar como participante</b></label> <br>
                <input type="text" placeholder="Entre com o código aqui" [(ngModel)]="codigo"> 
                <app-button typeBtn="primary" textBtn="Entrar" (click)="entrarSala()"></app-button>
            </div>
            <app-button widthBtn='410' id="segundo-botao" typeBtn="primary" textBtn="CRIAR NOVA SALA" (click)="openDialog()"></app-button>
            <p>A maneira mais fácil de tornar</p>
            <p>suas reuniões interativas</p>
        </div>
    </section>
</app-container>
