/* .sectionSalaPerguntas{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
} */


.divTituloSilentPoll {
    display: flex;
    max-width: 100vw;
    width: auto;
    justify-content: center;
    align-items: center;
}

.tituloSilentPoll {
    font-family: 'Bebas Neue';
    font-size: 48px;
}

.sectionSalaPerguntas {
    display: flex;
    justify-content: space-around;
    background-color: var(--grey-100);
    /* background-color: red;  */
    width: 90vw;
    height: 85vh;
    border-radius: var(--borderr-20);
    flex-direction: row;

}

.divAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 20px 0 0 20px;
    width: 90vw;
    /* width: 560px; */
    justify-content: space-between;
    height: 100%;
    /* margin-left: -50px; */
    padding: 40px 0;
}

.tituloAdmin {
    margin-top: 80px;
}

.informacoesSala {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;

}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--blue-800);
}

.divPerguntas {
    display: flex;
    background-color: var(--grey-100);
    width: 90vw;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 50%;
    height: 85vh;
    max-height: 100vh;
    border-radius: 0 20px 20px 0;
    flex-direction: column;
}


.divPergunta {
    position: relative;
    margin: 10px;
    display: flex;
    max-width: 90vh;
    width: auto;
    height: fit-content;
    justify-content: space-between;
    padding: 10px;
    font-weight: normal;
    gap: 15px;
}   

.divP1{
    max-width: 100%;
    word-break: break-all;
}

.status {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    background-color: var(--grey-100);
    border-radius: var(--borderr-20);
    padding: 5px;
    font-size: 20pt;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
}

.status:hover {
    opacity: 0;
    visibility: hidden;
}



.listaInformacoesSala {
    list-style-type: none;
    font-weight: normal;
}

.divIcones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.divIconeNumero {
    display: flex;
    flex-direction: row;
}

.divIcones p {
    margin: 5px;
}


.divP1 {
    display: flex;
    flex-direction: column;
}

.divAdminMobile {
    display: none;
}

@media screen and (max-width: 1025px) {

    .divAdmin {
        display: none;
    }

    .divAdminMobile {
        display: flex;
    }

    .sectionSalaPerguntas {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .divPerguntas {
        max-width: 100%;
    }

    .divPergunta {
        max-width: 100%;
        height: fit-content;
        gap: 8px;
    }

    .tituloAdmin {
        margin-top: 0;
        padding: 10px;
    }

    .informacoesSala {
        align-items: center;
    }

    .info-btn {
        display: flex;
        justify-content: space-around;
        gap: 40px;
    }

}