<div class="divPergunta" [ngStyle]="{ 'background-color': question.isDeleted ? 'rgba(255, 0, 0, 0.2)' : (question.isReplied ? 'rgba(101, 101, 172, 0.2)' : 'white') }">
    <div class="divP1">
        <p *ngIf="question.category">Categoria: {{question.category}}</p>
        <p>{{question.question}}</p>
    </div>
    <div class="status" *ngIf="question.isReplied" [ngStyle]="{display: question.isDeleted ? 'none' : 'block'}">
        <span>Respondida</span>
    </div>
    <div class="status" *ngIf="question.isDeleted">
        <span>Ocultada</span>
    </div>
    <div class="divIcones">
        <div class="divIconeNumero">
            <mat-icon fontIcon="thumb_up" (click)="onLikeClick(question.id)"></mat-icon>
            <p>{{question.vote}}</p>
        </div>
        <app-menu *ngIf="isAdmin" [id]="question.id" [questions]="questions"></app-menu>
    </div>
</div>