<div class="divPergunta"
    [ngStyle]="{ 'background-color': question.isDeleted ? 'white' : (question.isReplied ? 'white' : 'white') }">
    <div class="divP1">
        <p *ngIf="question.category">Categoria: {{question.category}}</p>
        <p>{{question.question}}</p>
    </div>
    <div class="statusRespondido" *ngIf="question.isReplied"
        [ngStyle]="{display: question.isDeleted ? 'none' : 'flex'}">
        <span>RESPONDIDA</span>
    </div>
    <div class="statusOcultado" *ngIf="question.isDeleted">
        <span>OCULTADA</span>
    </div>
    <div class="divIcones">
        <div class="divIconeNumero">
            <mat-icon fontIcon="thumb_up" (click)="onLikeClick(question.id)"></mat-icon>
            <p>{{question.vote}}</p>
        </div>
        <app-menu *ngIf="isAdmin" [id]="question.id" [questions]="questions"></app-menu>
    </div>
</div>

