.divPergunta {
    position: relative;
    margin: 15px;
    display: flex;
    /* max-width: 90vh; */
    width: auto;
    height: fit-content;
    justify-content: space-between;
    padding: 10px;
    font-weight: normal;
    gap: 15px;
}

.divP1{
    max-width: 100%;
    word-break: break-all;
}

.statusRespondido {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #baf1bace;
    color: #1b531bce;
    padding: 5px;
    font-size: 20pt;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
}

.statusRespondido:hover {
    opacity: 0;
    visibility: hidden;
}

.statusOcultado:hover {
    opacity: 0;
    visibility: hidden;
}

.statusOcultado {
    position: absolute;
    display: flex;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f1babace;
    color: #a81b1b;
    padding: 5px;
    font-size: 20pt;
    cursor: pointer;
    transition: opacity 0.3s, visibility 0.3s;
}

.divIcones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.divIcones p {
    margin: 5px;
}
.divIconeNumero {
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1025px) {
    .divPerguntas {
        max-width: 100%;
        align-items: center;
    }

    .divPergunta {
        margin: 15px;
        display: flex;
        max-width: 100%;
        width: 86VW;
        height: fit-content;
        justify-content: space-between;
        padding: 10px;
        font-weight: normal;
        gap: 8px;
    }

    
}